<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <%= @rsvp.name %> has RSVP'd
    </p>

    <p>
      Email: <%= @rsvp.email %>
    </p>

    <p>Phone: <%= @rsvp.phone %> </p>
    <p>Attending: <%= @rsvp.events %></p>
    <p>Guests: <%= @rsvp.guests %></p>
    <p>Guest information: <%= @rsvp.guestinfo %></p>

    <p>Message: <%= @rsvp.message %></p>

  </body>
</html>
